* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: #fff;
    --main-color: #00ffee;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    max-width: 100%;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section.google{
    padding: 15% 1rem;

    & .container{
        max-width: 1200px;
        margin: 0 auto;
    }

    & .flex{
        flex-direction: column;
    
        & h4{
            margin: 3rem 0;
            font-size: 6rem;
        }
    
        & img{
            border: #00ffee 4px solid;
            border-radius: 50px;
            text-shadow: 0 0 100px var(--main-color);
        }
    
        & .btn{
            margin: 2rem;
        }
    
    }


}